.featuredSection{
  text-align: center;
  background: url("/images/shape-bg.svg");
  padding-top: 140px;
  padding-bottom: 440px;
  margin-top: -64px;
  a{
    margin-top: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
    text-decoration: underline;
    line-height: 20px;
    color: #ffffff;
  }

  img{
    width: 100%;
    margin-bottom: 20px;
  }
  .pushTop{
    margin-top: -250px;
  }
}