.footerSection{
  text-align: center;
  background: url("/images/shape-bg.svg");
  padding-top: 140px;
  padding-bottom: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: -50px;
  position: relative;
  z-index: 3;
  .footLogo{
    width: 126px;
  }
  @media (max-width: 575.98px) {
    padding-top: 50px;
    .footerLeft{
      padding-bottom: 30px;
    }
  }
  .talkExpert{
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  h5{
    color: #FFD2DD;
    text-align: left;
    padding-bottom: 10px;
    font-size: 16px;
  }
  ul{
    text-align: left;
    padding-left: 0px;
    li{
      list-style: none;
      margin-bottom: 10px;
      a{
        color: #ffffff;
      }
    }
  }
  .InputCustom{
    width: 80%;
    margin-top: 20px;
    z-index: 1;
  }
  .footerBottom{
    border-top: 1px solid #979797;
    padding-top: 20px;
    margin-top: 60px;
    ul{
      display: flex;
      justify-items: center;
      li{
        display: inline-block;
        padding-right: 20px;
      }
    }
  }
}