.aboutBlock{
  padding-top: 140px;
  padding-bottom: 140px;
  .aboutContent{
    text-align: center;
    h4{
      font-size: 40px;
    }
    p{
      font-size: 20px;
    }
  }
  .aboutThree{
    padding: 60px;
    background: #eeeeee;
    h3{
      font-size: 38px;
    }
    p{
      font-size: 18px;
    }
  }
}