.brandSection{
  h3{
    font-weight: 600;
    color: #35266D;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 28px;
  }
  .brandBlock{
    padding-left: 10px;
    padding-right: 10px;
    img{
      max-width: 80%;
      object-fit: cover;
      margin: auto;
    }
  }
}