

.heroSlider{
  height: 100vh;
  width: 100%;
  background: url("/images/heroslider-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  .slide{
    width: 100%;
    overflow: hidden;
    justify-items: center;
    align-items: center;
    display: flex;
    height: 540px;
    .heroBanner{
      width: 100%;
      height: 100%;
      img{
        max-width: 100%;
        object-fit: cover;
        width: 100%;
      }
    }
  }
  @media (max-width: 575.98px) {
    height: 1010px;
    margin-bottom: 40px;
  }
  h1{
    font-weight: 400;
    font-size: 61px;
    line-height: 70px;
    @media (max-width: 575.98px) {
      font-size: 20px;
      line-height: 22px;
      font-weight: 600;
    }
  }


  p{
    font-size: 21px;
    @media (max-width: 575.98px) {
      font-size: 14px;
      line-height: 18px;
    }
  }
  .heroCard{
    background: #ffffff;
    padding: 20px;
    margin-top: 26px;
    @media (max-width: 575.98px) {
        margin-bottom: 20px;
        margin-top: 20px;
      box-shadow:-3px 7px 11px #f49cc34d;
    }
    h3{
      font-size: 22px;
      @media (max-width: 575.98px) {
        font-size: 20px;
      }
    }
  }
  .heroImage{
    max-width: 100%;
    object-fit: contain;
    height: 80px;
  }
}

.heroSliderSection{
  margin-top: 20px;
  padding-bottom: 60px;
  width: 100%;
  @media (max-width: 575.98px) {
    padding-bottom: 0px;
    margin-top: 100px;
  }

}