.aboutSection{
  padding-top: 140px;
  padding-bottom: 240px;
  background: url("/images/curve-bg.svg");
  background-size: 100%;
  color: #ffffff;
  margin-top: -60px;
  background-size: 100%;
  background-repeat: no-repeat;

  h2{
    font-size: 46px;
    font-weight: 100;
    @media (max-width: 575.98px) {
      font-size: 32px;
      padding-bottom: 10px;
      font-weight: 600;
    }
  }
  p{
    font-size: 18px;
  }
}