.IntroText{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #ffffff;
  animation-name: changeColor;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-fill-mode: forwards;

  h1{
    font-size: 82px;
    text-transform: uppercase;
    color: #36276f;
  }
  h3{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #36276f;
  }
  h5{
    padding-bottom: 20px;
    color: #36276f;
  }
}

.smallText{
  background: #fbe8f0;
  text-align: center;
  padding-bottom: 14px;
}

@keyframes changeColor {
  from { background-color: #ffffff; }
  to { background-color: #fbe8f0; }
}