.serviceSection{
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 1px solid #efefef;
  @media (max-width: 575.98px) {
    margin-top: 90px;
  }
  h5{
    font-weight: 600;
    color:#231752;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}