.featuredSlider{
  margin-top: -340px;
  .title{
    text-align: center;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;

  }
  .SliderSection{
    img{
      width: 100%;
    }
  }
  .featuredSlide{
    width: 100%;
  }
}