.mainNav{
  position: fixed;
  top: 0px;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  z-index: 2;
  transition: 0.5s ease all;
  @media (max-width: 575.98px) {
    padding-left: 0px;
    padding-right: 0px;
  }
    ul{
    li{
      padding-left: 20px;
      padding-right: 20px;
      letter-spacing: 2px;
      a{
        color: #36276F;
        font-weight: 600;
      }
    }
  }
  .cartIcon{
    padding-right: 20px;
  }
}


.viewMore{
  padding-top: 40px;
  display: block;
  text-decoration: underline;
}

.MenuCard{
  .MenuImage{
    height: 240px;
    display: flex;
    justify-items: center;
    align-items: center;
  }
  img{
    width: 100%;
    object-fit: cover;
  }
  h5{
    text-align: center;
    margin-top: 10px;
    color: #36276F;
    font-size: 18px;
    a{
      color: #36276F;
    }
  }
}