.mainNav{
  position: fixed;
  top: 0px;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  z-index: 2;
  transition: 0.5s ease all;
  @media (max-width: 575.98px) {
    padding-left: 0px;
    padding-right: 0px;
  }
    ul{
    li{
      padding-left: 20px;
      padding-right: 20px;
      letter-spacing: 2px;
      a{
        color: #36276F;
        font-weight: 600;
      }
    }
  }
  .cartIcon{
    padding-right: 20px;
  }
}