.form{
  background: #efefef;
  padding-top: 210px;
  padding-bottom: 110px;
  .EnquiryTitle{
    text-align: center;
    padding-bottom: 20px;
  }
}
.successMsg{
  font-size: 25px;
  margin-top: 30px;
}