
@import "themes/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.scss";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body{
  font-family: 'Josefin Sans', sans-serif;
}
.whitemenu{
  background: #ffffff;
  box-shadow: 1px -15px 30px #2c205c;
}

.orb {
  width: fit-content;
  height: 50px;
  display: inline-block;
  color: #ffffff;
  padding-right: 40px;
  padding-left: 40px;
  float: left;
  transition: all .2s ease-out;
  font-size: 28px;


}

.orb:hover {
  transform: scale(1.2);
  opacity: .5;
  cursor: pointer;
}



.marquee {
  height: 90px;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  margin: 0px auto;
  border-top: 1px solid #fff;
  margin-top: 60px;
  z-index: 1;

}

.marquee--inner {
  display: block;
  width: 200%;
  margin: 40px 0;
  position: absolute;
  animation: marquee 20s linear infinite;
}

.marquee--inner:hover {
  animation-play-state: paused;
}

.marquee span {
  float: left;
  width: 100%;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}


.slick-dots li {
  display: inline-block;
  height: 4px;
  width: 50px;
  margin: 0 8px;
  padding: 0;
  cursor: pointer;
  background-color: #33256a;
  border-radius: 0;
}

.slick-dots li.slick-active {
  opacity: .5;
  background-color: #33256a;
}


.slick-dots li button:before{
  content: none;
}

.slick-dots li button{
  height: 4px;
  width: 50px;
}

.menuDrop{
  position: absolute;
  background: #fff;
  left: 0px;
  right: 0px;
  top: 112px;
  width: 70%;
  margin: auto;
  padding: 60px;
  letter-spacing: 0px;
  z-index: 100;
  h4{
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 24px;
    color: #33256a;
  }
  ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    li{
      padding-left: 0px !important;
      padding-right: 0px !important;
      padding-bottom: 5px;
      padding-top: 5px;
    }
  }
}

.brandMenu{
  text-align: center;
  img{
    width: 60%;
    object-fit: cover;
    margin: auto;
  }
}